.categories-container {
    box-sizing: border-box;

    width: 1190px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #FFFFFF;
    border: 1px solid #DFE4EF;
}

.subcategories {
    width: 1174px;
    margin-left: 16px;
}

.categorie-left-side {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 16px;
    gap: 15px;
}

.pointer {
    width: 22px;
    height: 22px;
    border: 1px solid #DFE4EF;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transform: rotate(180deg);
}

.categorie-title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 108%;

    color: #000000;
}

.noncategorie-title {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 108%;

    color: #000000;
}

.color {
    width: 36px;
    height: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    cursor: pointer
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.magenta {
    background: #FF238D;
}

.yellow {
    background: #FFB800;
}

.orange {
    background: #FF8D23;
}

.blue {
    background: #0066FF;
}

.light-blue {
    background: #00C2FF;
}

.gray {
    background: #8E9CBB;
}

.choosed { 
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.categorie-description {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 108%;

    color: #8E9CBB;
}

.categorie-right-side {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 17px;
    gap: 21px;
}