<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/categories.css">
</head>

<body>
    <div class="categories-container">
        <div class="categorie-left-side">
            <div class="pointer">
                <img src="../assets/pointer.svg" alt="" />
            </div>

            <p class="categorie-title">
                Обязательные для всех
            </p>

            <div class="color">
                <div class="circle magenta"></div>
                <div class="circle yellow"></div>
                <div class="circle orange"></div>
            </div>

            <p class="categorie-description">
                Документы, обязательные для всех сотрудников без исключения
            </p>
        </div>

        <div class="categorie-right-side">
            <img src="../assets/pen.svg" alt="" />
            <img src="../assets/delete.svg" alt="" />
            <img src="../assets/move.svg" alt="" />
        </div>
    </div>

  <script src="../js/index.js"></script>
</body>
</html>
